[Unit]
Description=Backup local repositories to remote host

[Service]
Type=oneshot
Environment=RESTIC_REPOSITORY={{ restic_repository }}
Environment=RESTIC_PASSWORD={{ restic_password }}
User={{ restic_local_user }}
{% for path in restic_local_paths %}
ExecStart=/usr/bin/restic backup {{ path }}
{% endfor %}
ExecStart=/usr/bin/restic forget --keep-last 14 --keep-weekly 52
